Checks: >
    -*,
    bugprone-*,
    cert-*,
    cppcoreguidelines-*,
    misc-*,
    modernize-*,
    performance-*,
    portability-*,
    -modernize-deprecated-headers,
    -misc-include-cleaner,
    -cppcoreguidelines-pro-type-vararg
HeaderFilterRegex: "kernel|bustd|libraries"
WarningsAsErrors: true
FormatStyle: llvm
